html { scroll-behavior: smooth; }

body {
	background-color: black;
	font-family: "arial";
	margin: 0px;
}

img {
	border: solid white 3px;
	width: 200px;
	height: 200px;
	margin-right: 26px;
}

h1 {
	color: white;
	font-size: 80px;
	white-space: nowrap;
	margin: 0px;
}

ul {
	font-family: monospace;
	margin-top: 12px;
	font-size: 22px;
	font-style: oblique;
	color: white;
}

hr {
	margin-bottom: 24px;
	color: white;
	background: white;
	height: 5px;
	width: 800px;
}

/* Buttons */
a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-decoration: none;
	background-color: #7b8c93;
	margin-bottom: 16px;
	font-size: 20px;
	font-weight: bold;
	width: 200px;
	height: 50px;
	border-radius: 3px;
	box-shadow: -8px 8px #2b2b2b;
}

a:active {
	position: relative;
	animation-name: push;
	animation-duration: 0.1s;
}

a:hover {
	background-color: darkgray;
}

@keyframes push {
	from {top: 0px; left: 0px;}
	to {top: 8px; left: -8px; box-shadow: 0px 0px #2b2b2b;}
}

.portfolio { background-color: #d11a28 }
.portfolio:hover { background-color: #ea5c66; }

embed {
	width: 90%;
	height: 98vh;
	margin-bottom: 20px;
}

/* Alignment */
.center {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	display: flex;
}

.column {
	margin-left: 80px;
	margin-right: 80px;
	height: 100%;
}

.beside {
	width: fit-content;
	display: flex;
}

.above {
	display: flex;
	flex-direction: column;
}

.bg-image {
	z-index: -1;
	position: fixed;
	height: 100%;
	width: 100vw;
	background-image: url('Images/road.jpg');
	background-size: cover;
	background-attachment: fixed;
	filter: blur(16px);
}

/* Stack and resize on mobile */
@media only screen and (max-width: 1000px) {

	.center {
		display: flex;
		width: 100%;
		height: 100vh;
	}

	.above {
		align-items: center;
		justify-content: center;
	}

	.beside {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	a {
		margin: 15px;
		font-size: 50px;
		width: 90vw;
		height: 200px;
	}

	hr { display: none; }

	h1 {
		font-size: 100px;
		margin-bottom: 100px;
	}

	ul { display: none; }

	.headshot {
		margin-top: 200px;
		margin-bottom: 100px;
		width: 350px;
		height: 350px;
	}
}
