
/* Defaults */

body {
	font-family: Monospace;
	font-size: 1.25vw;
	margin: 0px;
	background-color: lightgray;
	overflow: hidden;
}

p { font-size: 1vw; }

h1 {
	margin-bottom:0px;
	font-size: 2.5vw;
}

h2 {
	margin-bottom:0px;
	font-size: 1.75vw;
}

img { width: 50vw; }

figure {
	display: flex;
	align-items: center;
	flex-direction: column;
}

figcaption { font-size: 1vw; }

hr { width: 100%; }

embed {
	width: 100%;
	height: 100%;
}

/* Tabs */

.tabmenu {
	position: relative;
	top: 15px;
	display: flex;
	flex-direction: row;
	background-color: lightgray;
	height: 45px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.tab {
	background-color: gray;
	width: 25%;
	height: 8vh;
}

.tab-label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.tab-label:hover {
	background-color: white;	
}

.tab-content {
	position: absolute;
	opacity: 0;
	left: 0px;
	width: 100%;
	height: 95vh;
	background-color: darkgray;
	transition: opacity .5s;
}

.tab-button {
	display: none;
}

.tab-button:checked + .tab-label {
	background-color: darkgray;
	transition: color .5s;
}

.tab-button:checked ~ .tab-content {
	opacity: 1;
	z-index: 1;
}

/* Alignment */

.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.beside {
	display: flex;
	align-items: center;
	justify-content: center;
}

.center {
	width: 75vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

