@font-face {
	font-family: "FiraMono";
	src: url("FiraMono-Regular.otf") format("opentype");
}

body {
	margin: 0px;
	background-color: lightgray;
}

hr {
	margin: 0px;
}

button {
	margin-top: 20px;
	margin-left: 25px;
	background: none;
	border: none;
	font: 50px "FiraMono";
}

img {
	max-height: 500px;
}

.beside {
	display: flex;
}

.topbar {
	display: flex;
	flex-direction: column;
	margin: 0px;
	background-color: darkgray;
	height: 100px;
}
