@font-face {
	font-family: "FiraMono";
	src: url("FiraMono-Regular.otf") format("opentype");
}

body {
	background-color: lightgray;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.beside {
	display: flex;
	align-items: center;
	justify-content: center;
}

.center {
	max-width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.image_container {
	display: flex;
	width: 30vw;
	height: 17vw;
	position: relative;
}

img {
	position: absolute;
	display: inline-block;
	width: 30vw;
	height: 17vw;
	background-color: lightgray;
}

hr {
	width: 50%;
}
